@model List<TesteFood.Entities.Product>
@{
    ViewBag.Title = "AdminUrun";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Urun Listesi</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Anasayfa</a></li>
            <li class="breadcrumb-item">Urunler</li>
            <li class="breadcrumb-item active" aria-current="page">Urun işlemleri</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
              
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Urun id</th>
                                <th>Urun Ad</th>
                                <th>Urun kategori</th>
                                <th>Fiyat</th>
                                <th>Durum</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@x.ProductName</td>
                                    <td>@x.Category.CategoryName</td>
                                    <td>@x.ProductPrice</td>
                                    <td>@x.ProductIsActive</td>

                                  
                                    <td><a href="/Product/DeleteProduct/@x.ProductID" class="btn btn-sm btn-warning">Sil</a></td>
                                    <td><a href="/Product/UpdateProduct/@x.ProductID" class="btn btn-sm btn-primary">Güncelle</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <td><a href="/Product/CreateProduct" class="btn btn-sm btn-primary">Yeni Kategori Girişi</a></td>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
    <!--Row-->
    <!-- Modal Logout -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                    <a href="login.html" class="btn btn-primary">Logout</a>
                </div>
            </div>
        </div>
    </div>

</div>

